.red {
    color: #1A4472;
}

h1 {
    text-align: center;
}

p.red {
    text-align: center;
}

h1 {
    margin: 10px 10px 20px 20px;
    border-bottom: solid 10px #a9ceec;
    text-shadow: 4px 4px 2px #a9ceec;
}

.sidebar {
    width: 30%;
    background-color: #a9ceec;
}

@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

h1 {
    font-family: 'Caveat', cursive;
}